* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
:root{
    --veryDarkGreyBlue: hsl(237, 12%, 33%);
    --softRed: hsl(14, 88%, 65%);
    --darkGrayBlue: hsl(240, 6%, 50%);
    --lightGrayBlue: hsl(240, 5%, 91%);
    --fontSize:12px;
}
html{
    font-size: 12px;  
}
body{
    margin: 0;
    font-family:'Kumbh Sans', sans-serif ;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(hsl(273,75%,66%), hsl(240, 73%,65%));
    display: grid;
    justify-content: center;
    align-content: center;
}
.wrapper{
    background: white;
    border-radius: 30px;
    height: 409px;
    width: 820px;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap:6rem;
    background-image: url(/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: 450% 65%;
}

.semi-wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.accordion-questions{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.question-answer-accordion{
    width: 300px;
    border-bottom: 1px solid #e8e8e8;
}
.accordion-title{
    font-size: 3rem;
    margin-top: 0px;
}
h4{
    font-size: 1rem;
    font-weight: 400;
    margin: 1.4rem 0rem;
    color: (var(--veryDarkGreyBlue));
}
.accordion-question{
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.accordion-question img{
    position: absolute;
    right: 1rem;
}
.accordion-answer{
    display: none;
}
.accordion-question.active + .accordion-answer{
    display: block;
}
.main-logo{
    position: relative;
}
.logo{
    background: url(/images/illustration-woman-online-desktop.svg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: 120% center;
}
.box{
    position: absolute; 
    top: 42%;
    left: -29%;
}
.active img{
    transform: rotate(180deg);
    transition: all 0.2s ease-in;
}
.active h4{
    font-weight: 700;
}