* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
:root{
    --veryDarkGreyBlue: hsl(237, 12%, 33%);
    --softRed: hsl(14, 88%, 65%);
    --darkGrayBlue: hsl(240, 6%, 50%);
    --lightGrayBlue: hsl(240, 5%, 91%);
    --fontSize:12px;
}
body{
    background-color: hsl(273, 75%, 66%);
    height: 100vh;
    width: 100vw;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%)
    );
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrapper{
    background: white;
    width: 70%;
    height: 70%;
    border-radius: 30px;
    
   
}
.semi-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: 900% 65%;
}
.logo{
    width: 50%;
    height: 100%;
}
.container{
    width: 50%;
    height: 100%;
}
header{
    padding: 60px 0 35px 0;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
}

.accordion-answers{
    display: none;
}
.accordion-questions{
    width: 80%;
    height: 80%;  
}
.question-answer-accordion{
    border-bottom: 1px solid  hsl(240, 6%, 50%);
    width: 100%;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    cursor: pointer;
    
}
.question-title{
    color: hsl(240, 6%, 50%) ;
}
.logo{
    position: relative;
}
.main-logo{
    background: url(/images/illustration-woman-online-desktop.svg);
    height: 100%;
    width: 90%;
    background-repeat: no-repeat;
    background-position: 120% center;
}
.box{
    position: absolute;
    top: 42%;
    left: -25%;
}







